* {
  margin: 0;
  padding: 0;
}
span{
    margin-top: 40px;
    color: #469da4  ;
    float: left
}
.form {
  margin: 10%;
  display: flex;
  gap: 25%;
  background-color: white;
  color: #464646;
}
body {
  background-color: #fee19d;
  color: #464646;
}
.fillingForm {
  margin-left: 5%;
  color: #464646;
}
form {
  padding-top: 80px;
  color: #464646;
}
.input {
    border-radius: 5px;
  height: 25px;
  width: 300px;
  padding: 3%;
  color: #464646;
}
button {
    height: 45px;

  padding: 3% 45%;
  background-color: #469da4;
  border-radius: #464646 5px ;
  color: white;
}
.social-media {
  margin-left: 10px;
  margin-bottom: 30px;
  size: 30px;
  color: #464646;
}
h2 {
  color: #464646;
}
h4 {
  color: #464646;
}
.facebook {
  padding-left: 15px;
}
.google {
  padding-left: 15px;
}
.instagram {
  padding-left: 15px;
}
.forget {
  margin-left: 10%;
  margin-right: -30%;
  margin-top: -15%;
}
.keep {
  display: flex;
  gap: 30px;
  /* font-size: 15px; */
}
.bikerImage {
  size: 50px;
}
h3 {
  color: #464646;
}
.biker {
  margin-left: -10%;
  margin-top: 55px;
}
.signUp {
  margin-bottom: 50px;
}
.signUp a {
  color: #469da4;
}
